html, body {
    margin: 0;
    padding: 0;
  }
  canvas{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
    border: 2px solid rgb(129, 4, 4);
  }
  h1{
    color:rgb(88, 44, 2);
    font-family: algerian;
  }
  h2{
    color:cornflowerblue

  }
  